<div class="container">
          <h1 style="text-align: center;">Dashboard</h1><br><br>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5"><canvas id="enfermedad"></canvas></div>
              <div class="col-md-5"><canvas id="genero" width="200" height="200"></canvas></div>
              <div class="col-md-1"></div>
          </div>
          <div class="row">
              <div class="col-md-5"><br><br></div>
          </div>
          <div class="row">
              <div class="col-md-6"><canvas hidden id="myChart" width="200" height="200"></canvas></div>
          </div>
      </div>